body {
    padding-bottom: 500px;

}

h3 {
    color: coral;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;

}

/*Estilo usando seletor de classe*/
.paragraph{
    font-size: 80px;
    background-color: black;
    color: aqua;
}